.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.search-form{

    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-bar{
    width: 50%;
    border: none;
    padding: 10px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-button{
  background-color: orange;
  color: white;
  border: 1px black;
  height: 5vh;
  cursor: pointer;

}

.search-button:hover{
  background-color: blanchedalmond;
  color: black;
  border-color: blanchedalmond;
}